{% load static %}

<div class="description__wrapper">
    <div class="description">
        <div class="description__title"><h1>Про компанію</h1></div>
        <div class="description__banner">
            <img src="{% static 'shop/images/description.jpg' %}" alt="">
        </div>
        <div class="description__description">
            <p>Взуттєво socks пройшов довгий шлях пошуку кращих технологій, матеріалів, обладнання для вас.</p>
            <p>
                Щоб з’явитися на світ наша шкарпетка проходить через кілька десятків рук, кожні з яких виконують свою
                незамінну роль.
            </p>
            <p>
                У виробництві використовується високопродуктивне обладнання чеських, французьких та італійських фірм,
                сировина провідних європейських, українських та турецьких виробників, висококваліфікований
                інженерний і виробничий персонал.
            </p>
            <p>Легкість, комфорт, терморегуляція – буди нашою ціллю.</p>
            <p>
                Дизайн розробляється разом з нашими художниками, та є унікальним.
                Ми намагаємось надати атмосферу місця, де завжди вас чекають,
                нададуть всю інформацію, і як найшвидше відправлять не просто шкарпетки, а частинку душі
            </p>

        </div>
    </div>
</div>